// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 480 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
.subhead {
  h1 {
    font-size: 48px;
  }
  p{
    font-size: 24px;
  }
}
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================
